{% extends "layout.html" %}
   
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center mb-4">Login</h2>
                <form  id="login-form" name="login" action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                <div class="form-group">

                    <label for="email"> {{ form.email.label }}</label>
                    {{ form.email(size=88) }}
                        {% for error in form.email.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                </div>
                <div class="form-group">
                    <label for="password"> {{ form.password.label }}</label>
                    {{ form.password(size=88)}}
                        {% for error in form.password.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    
                </div>
               
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Login</button>
                </div>
            </form>

        </div>
    </div>
</div>
<br>
{% endblock %}